RewriteEngine on
RewriteCond $1 !^(index\.php|site/assets|sys/flexyadmin/assets|sys/tinymce|sys/jquery|sitemap\.xml|robots\.txt|sys/angular|sys/flexyadmin_js)
RewriteRule ^(.*)$ index.php/$1 [L]



# If you need more memory: use these lines
# php_value upload_max_filesize 64M
# php_value post_max_size 64M
# php_value memory_limit 512M