<?xml version="1.0" encoding="UTF-8" ?>

<phpunit
  bootstrap="sys/flexyadmin/tests/bootstrap.php"
	colors="true"
	convertNoticesToExceptions="false"
	convertWarningsToExceptions="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false">
  
	<testsuites>
    
    <!-- Real Unit tests, fast and no need for demo database -->
    <testsuite name="fast">
      <directory suffix="Test.php">sys/flexyadmin/tests/fast</directory>
		</testsuite>

    <!-- Test this before committing: the fast unit tests, and testing the code for debug actions -->
    <testsuite name="commit">
      <directory suffix="Test.php">sys/flexyadmin/tests/fast</directory>
      <directory suffix="Test.php">sys/flexyadmin/tests/commit</directory>
      <file>site/tests/frontend/DebugTest.php</file>
		</testsuite>

    <!-- Just test the frontend -->
		<testsuite name="frontend">
      <directory suffix="Test.php">site/tests</directory>
		</testsuite>

    <!--Heavy testing: auth, api, which assumes the demo database is present -->
    <testsuite name="demo_db">
      <directory suffix="Test.php">sys/flexyadmin/tests/demo_db</directory>
		</testsuite>
    
	</testsuites>
  
	<php>
		<const name="PHPUNIT_TEST" value="1" />
		<server name="REMOTE_ADDR" value="127.0.0.1" />
	</php>

	<filter>
		<blacklist>
      <directory suffix=".php">sys/codeigniter</directory>
      <directory suffix=".php">sys/flexyadmin/libraries</directory>
		</blacklist>
	</filter>

</phpunit>
