<div class="panel panel-primary flexy-form {{table}}" ng-controller="FormController">

  <div class="panel-heading panel-title">
    <h3>{{form_data.table_info.ui_name}}</h3>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-info" ng-disabled="flexyform.$pristine" type="button" ng-click="submitForm(flexyform)">Invoeren<span class="glyphicon glyphicon-floppy-disk"></span></button>
      <button class="btn btn-info" ng-disabled="flexyform.$pristine" type="button" ng-click="submitForm(flexyform)"><span class="glyphicon glyphicon-floppy-saved"></span></button>
      <button class="btn btn-warning" ng-disabled="flexyform.$pristine" type="button" ng-click="resetForm(flexyform)"><span class="glyphicon glyphicon-refresh"></span></button>
      <a href="javascript:window.history.back()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
  </div>

  <div class="panel-content">
    <form novalidate class="form-horizontal" name="flexyform" role="form">
      <div sf-schema="schema" sf-form="form" sf-model="model"></div>
    </form>
  </div>
  
  
</div>
