<tr>
  <th class="edit">
    <div class="btn-group btn-group-xs">
      <div class="btn btn-primary action-new"><span class="glyphicon glyphicon-plus"></span></div>
    </div>
    <div class="btn-group btn-group-xs">
      <div class="btn btn-info action-select" ng-click="toggleSelection()"><span class="flexy-grid-unselected glyphicon glyphicon-unchecked"></div>
      <div class="btn btn-danger action-remove"><span class="glyphicon glyphicon-remove"></span></div>
    </div>
  </th>
  <th ng-if="type.sortable" ng-repeat="field in fields | toArray" st-sort="{{field.field}}" class="flexy-grid-sortable-column {{field.type}} {{field.field}}">{{field.ui_name}}
    <span class="glyphicon glyphicon-chevron-up"></span>
    <span class="glyphicon glyphicon-chevron-down"></span>
  </th>
  <th ng-if="!type.sortable" ng-repeat="field in fields | toArray" class="{{field.type}} {{field.field}}">{{field.ui_name}}</th>
</tr>