<tr ng-repeat="row in gridItems"
    ng-class="{'flexy-tree-has_children':row._info.has_children, 'flexy-tree-child':row._info.is_child, 'flexy-grid-selected':row._info.selected}"
    tree-level="{{row._info.level}}"
    id="{{row.id}}"
    sortable-item>

  <!-- Row Actions -->
  <td class="actions">
    <div class="btn-group btn-group-xs">
      <!-- Edit button -->
      <a ng-href="{{base_url}}#form/{{table}}/{{row.id}}" class="btn btn-primary action-edit"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>
    <div class="btn-group btn-group-xs">
      <!-- Select button -->
      <div class="btn btn-info action-select" ng-click="toggleSelection($index)"><span class="flexy-grid-unselected glyphicon glyphicon-unchecked"></span><span class="flexy-grid-selected glyphicon glyphicon-check"></span></div>
      <!-- Delete button -->
      <div class="btn btn-danger action-remove"><span class="glyphicon glyphicon-remove"></span></div>
    </div>
    <div class="btn-group btn-group-xs sortable-handle" sortable-item-handle>
      <!-- Order button -->
      <div class="btn btn-warning action-move"><span class="glyphicon glyphicon-resize-vertical"></span></div>
    </div>
  </td>

  <!-- Field Values -->
  <td ng-repeat="key in keys(row)" class="{{fields[key].type}} {{key}}">
    {{row[key]}}
  </td>

</tr>