<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="flexyadmin/tests/bootstrap.php" colors="true" convertNoticesToExceptions="false" convertWarningsToExceptions="false" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false">
  <coverage/>
  <testsuites>
    <!-- All -->
    <testsuite name="all">
      <directory suffix="Test.php">flexyadmin/tests</directory>
    </testsuite>
    <!-- Busy -->
    <testsuite name="busy">
      <file>flexyadmin/tests/demo_db/models/DataTest.php</file>
      <directory suffix="Test.php">flexyadmin/tests/commit</directory>
    </testsuite>
    <!-- Test this before committing: the fast unit tests, and testing the code for debug actions -->
    <testsuite name="commit">
      <file>../site/tests/frontend/DebugTest.php</file>
      <directory suffix="Test.php">flexyadmin/tests/commit</directory>
      <directory suffix="Test.php">flexyadmin/tests/fast</directory>
      <file>flexyadmin/tests/demo_db/models/DataTest.php</file>
    </testsuite>
    <!-- Real Unit tests, fast and no need for demo database -->
    <testsuite name="fast">
      <directory suffix="Test.php">flexyadmin/tests/fast</directory>
    </testsuite>
    <!-- Just test the frontend -->
    <testsuite name="frontend">
      <directory suffix="Test.php">../site/tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="PHPUNIT_TEST" value="1"/>
    <server name="REMOTE_ADDR" value="127.0.0.1"/>
  </php>
</phpunit>
