/*
  layout.css
  - please make the changes in layout.less
  - and compile by /admin/build
  - or override in style.css
*/
body {
  background: #ddeeaa;
}
#container {
  float: right;
  position: relative;
  left: -50%;
}
#wrapper {
  float: left;
  position: relative;
  left: 50%;
  margin: 1rem;
  width: 960px;
  background-color: #ffffff;
}
#wrapper > div {
  float: left;
  width: 100%;
  padding: 1rem;
  background-color: transparent;
}
div#header {
  padding: 1rem;
}
div#header h1 {
  margin: 0;
}
div#header h1 a {
  text-decoration: none;
}
div#menu {
  background-color: #669966;
}
div#content {
  min-height: 300px;
}
div#content img {
  max-width: 100%;
}
div#footer {
  padding: .25rem;
  text-align: center;
  background-color: #669966;
  color: #ffffff;
}
@media (max-width: 980px) {
  #container {
    width: 100%;
  }
  #wrapper {
    width: 98%;
    margin: 1%;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
  .menu ul {
    float: left;
    display: block;
  }
  .menu ul ul {
    display: block;
    margin-bottom: 0;
  }
  .menu ul ul ul {
    margin-top: 0;
    margin-left: 0;
  }
  .menu li:hover > ul {
    position: static;
    width: 100%;
    margin: 0;
  }
  .menu li {
    float: left;
    clear: both;
    display: block;
  }
  .menu li.lev2 a:before {
    content: "> ";
  }
  .menu li.lev3 a:before {
    content: ">> ";
  }
  .menu li.lev4 a:before {
    content: ">>> ";
  }
  .menu li.lev5 a:before {
    content: "..> ";
  }
  .menu li:hover {
    position: static;
  }
  .menu a {
    display: none;
  }
  .menu a.active {
    background-color: #669966;
    color: #ffffff;
  }
  .menu a:hover {
    background-color: #ddeeaa;
    color: #669966;
  }
  .menu a.current {
    display: block;
  }
  .menu {
    height: 1.8rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow: hidden;
  }
  .menu:hover {
    height: auto;
  }
  .menu:hover ul ul {
    margin-left: 1rem;
  }
  .menu:hover a {
    display: block;
  }
  .menu:hover li a:before {
    content: "";
  }
  .menu a.current:before {
    content: "= ";
  }
  form label {
    float: none;
    width: 100%;
  }
  form fieldset span.error {
    margin-top: -1.5rem;
    max-width: 100%;
  }
  form input,
  form textarea,
  form select {
    width: 100%;
  }
  form fieldset > div.checkbox label {
    float: left;
    width: auto;
  }
  form fieldset > div.checkbox input.checkbox {
    float: left;
    margin-left: 1rem;
  }
  form fieldset > div.radio > div {
    margin-left: 0;
    top: 0px;
  }
}
@media (max-width: 320px) {
  #container {
    min-width: 320px;
  }
}
