/* Compositie ********************************************/

body {background:#DEA;}

#container {
	margin:10px auto;
	width:760px;
	background-color:#FFF;
}

#header {
	float:left;
	width:100%;
  height:20px;
  padding:10px 0px;
  text-align:center;
  font-size:16px;
  color:#000;
}

#menu {
	float:left;
	width:100%;
	height:30px;
	background-color:#696;
	margin-bottom:20px;
}

#content {
	padding:20px 10px;
	min-height:300px;
}

#footer {
  width:100%;
  padding:5px 0px;
  text-align:center;
  background-color:#696;
}

/* Menu ********************************************/

/* ul */

#menu ul {
	position: relative;
	float: left;
	margin-left:5px;
	z-index: 597;
}
#menu ul ul {
	display:none;
	top: 100%;
	left: 0px;
	width: 100%;
	margin-left:0px;
	z-index:598;
}
#menu ul ul ul {
	margin-left:100%;
	margin-top:-30px;
}

#menu li:hover>ul {
	display:block;
	position:absolute;
	left:0px; top:100%;
	width:auto;
}

/* li */

#menu li {
	list-style:none;
	display:inline;
	float:left;
	margin-left:0px;
	padding:5px;
	background-color:#696;
	white-space:nowrap;
}
#menu li:hover {
	position:relative;
	border-right:none;
	z-index:599;
}
#menu li.lev1 ul li {
	float:none;
	display:block;
	width:auto;
	padding:5px;
}


/* a */

#menu li a {color:#000;text-decoration:none;}
#menu li a:hover, #menu li a.current, #menu li a.active {text-decoration:underline;}



/* FORMS */
.error {color:#F00;margin:0px;padding:0px;}
form {margin-top:10px;}
fieldset {border:none;margin:0px;padding:0px;}
legend {display:none;}
.flexyFormField {margin-bottom:10px;}
.flexyFormField.required label:after { content:" *"; color:#F66;}
label {font-weight:bold;}
input,textarea {display:block;}
input,textarea{padding:2px;border:solid 1px #CCC;cursor:pointer;}
input:hover, textarea:hover {border-color:#000;}
.radioOption {margin-left:15px;}
input.radio, input.checkbox {float:left;margin:5px 10px 0px 0px;}
input.checkbox {margin-top:4px;}