/* SIZES */
@flexy-header-height      : 50px;
@flexy-header-text-height : 34px; // ergens uit boostrap halen?
@flexy-margins            : 12px;


/* CALCULATED SIZES */
@flexy-header-text-margin:  (@flexy-header-height - @flexy-header-text-height) / 2 - 1;

/* Needed for UI-Angular */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
a {outline:none!important;}

/* BODY: paddings for fixed header/footer */
body {padding:(@flexy-header-height + @flexy-margins) 0;}

/* NAVBAR in HEADER & FOOTER smaller-uppercase */
header, footer {height:@flexy-header-height;}
.navbar>.navbar-text {
  height:@flexy-header-text-height;
  max-height:@flexy-header-text-height;
  margin-top:@flexy-header-text-margin;
  margin-bottom:@flexy-header-text-margin;
}
.navbar>nav {float:right}

/* NAVBARS */
.nav > li > a {text-transform:uppercase;}
.flexy-menu.navbar {min-height:0px;}

/* CONTENT SIZES */
#content nav {.make-xs-column(2)}
#content main {.make-xs-column(10)}

/* SIDEBAR MENU: smaller items & padding glyphs */
.menu-side li a {padding:7px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.menu-side li a .glyphicon {margin-right:7px;}

/* LOADING BAR */
#loading-bar-spinner {top:50%;left:50%;margin-left:-17px;margin-top:-17px;}
#loading-bar-spinner .spinner-icon {width: 34px;height: 34px;border:solid 3px transparent;border-top-color:#CCC;border-left-color:#CCC;border-radius: 17px;}


/* PANELS */
.panel-heading {height:42px;overflow:hidden;padding:7px 1rem;}
.panel-heading h3 {text-transform:uppercase;margin:0;float:left}
.panel-heading>div {float:right;}
.panel-heading span.glyphicon-floppy-disk {margin-left:1rem;}
.panel-content, .panel-footer {padding:2rem;}


/* FORMS */
label,button {text-transform:uppercase;}
label {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.form-group {border-radius:@border-radius-base;}
.form-group:hover {background-color:@gray-lighter;}
.form-group>.control-label {.make-sm-column(2);text-align:left;}
.form-group>div {.make-sm-column(10)}
.form-group>div.mce-tinymce {.make-sm-column(8);margin-left:1.5rem}
.form-group.button-group>div {.make-sm-column(10);.make-sm-column-offset(2);}
.form-inline .form-group {width:100%;}
.form-inline .form-group>div {.make-sm-column-offset(2);}
.help-block {margin:0px}
/* FIELDS */



/* GENERAL */
.hidden {display:none;}
.action-click {cursor:pointer;}
.action-move {cursor:move;}


/* FLEXY LOGIN */
#login {width:700px;margin:2rem auto;}
#login .panel-content {padding-bottom:0;}
#login .flexy-login-forgot {padding-top:1rem;}
#login .panel-footer .form-group {width:100%;}


/* FLEXY-HOME */
.flexy-home .btn {text-align:left;}
.flexy-home .btn a {margin:0 2rem;text-transform:uppercase;}
.flexy-home .btn-group-vertical {margin:1rem 4rem 1.5rem 0;}


/* FLEXY-BLOCK: text uppercase & hide spaces */
.flexy-block {text-transform:uppercase;}
.flexy-block.char_space {visibility:hidden;}

