<div>
<div class="panel panel-primary flexy-table flexy-table_{{table}}" st-pipe="pipe" st-table="displayedItems">

  <div class="panel-heading panel-title">
    <!-- Title -->
    <h3 class="pull-left">{{ui_name}}</h3>
    <!-- Search FORM -->
    <form class="form-inline has-feedback pull-right">
      <label class="control-label sr-only" for="grid-search">Search</label>
      <input st-search id="grid-search" class="form-control input-sm" type="search" />
      <span class="glyphicon glyphicon-search form-control-feedback text-primary"></span>
    </form>
  </div>

  <div ng-if="type.is_media" ng-show="uploader_visible" class="panel-content flexy-table-uploader" ng-controller="flexyMediaCtrl" nv-file-drop="" uploader="uploader">
    
    <!-- Select file -->
    <div class="file-browser" ng-show="uploader.queue.length===0">
      <flexy-file-field></flexy-file-field><h2><span translate="UPLOADER_DROP"></span>&nbsp;<i class="fa fa-cloud-download"></i></h2>
    </div>
    
    <!-- Upload que -->
    <div class="media-upload-que" ng-show="uploader.queue.length > 0">
      <table class="table">
        <thead>
          <!-- <tr><td colspan="10"><strong><span translate="UPLOADING">Uploading</span></strong></td></tr> -->
          <tr><th><span translate="UPLOADER_FILENAME"></span></th><th ng-show="uploader.isHTML5"><span translate="UPLOADER_SIZE"></span></th><th ng-show="uploader.isHTML5"><span translate="UPLOADER_PROGRESS"></span></th><!-- <th><span translate="UPLOADER_STATUS"></span></th> --><!-- <th><span translate="UPLOADER_ACTIONS"></span></th> --></tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in uploader.queue">
            <td><strong>
              <span ng-hide="item.isError">{{item.file.name}}</span>
              <span class="text-danger" ng-show="item.isError">{{item.error}}</span>
            </strong></td>
            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }}&nbsp;MB</td>
            <td ng-show="uploader.isHTML5"><div class="progress"><div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div></div></td>
            <!-- <td class="text-center">
              <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-alert"></i></span>
            </td> -->
            <!-- <td nowrap>
              <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading"><span class="glyphicon glyphicon-ban-circle"></span></button>
              <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()"><span class="glyphicon glyphicon-trash"></span></button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  
  <div class="panel-content">
    
    <table
      data-table="{{table}}" data-path="{{path}}"
      class="table table-striped table-hover table-condensed table-responsive table-bordered media-view-{{thumb_view}}"
      ng-class="{'table-sortable': type.is_sortable, 'table-tree': type.is_tree, 'table-media':type.is_media }">

      <!-- Table Head -->
      <thead>
        
        <!--Columns -->
        <tr>
          <th class="edit">
            <a ng-hide="type.is_media" ng-href="{{base_url}}#form/{{table}}/-1" class="btn btn-xs btn-primary action-new"><span class="glyphicon glyphicon-plus"></span></a>
            <div ng-show="type.is_media" ng-click="showUploader()" class="btn btn-xs btn-primary action-new"><span class="glyphicon glyphicon-plus"></span></div>

            <div class="btn btn-xs btn-info action-select" ng-click="toggleSelection()"><span class="flexy-table-unselected glyphicon glyphicon-unchecked"></div>
            <div class="btn btn-xs btn-danger action-remove" ng-click="delete(table)"><span class="glyphicon glyphicon-remove"></span></div>
          </th>
          
          <th ng-if="type.is_sortable" ng-repeat="field in fields | toArray" st-sort="{{field.field}}" class="flexy-table-sortable-column flexy-table-field-type-{{field.type}} flexy-table-field-{{field.field}}">{{field.ui_name}}
            <span class="glyphicon glyphicon-chevron-up"></span>
            <span class="glyphicon glyphicon-chevron-down"></span>
          </th>
          
          <th ng-if="!type.is_sortable" ng-repeat="field in fields | toArray" class="flexy-table-field-type-{{field.type}} flexy-table-field-{{field.field}}">{{field.ui_name}}</th>
        </tr>
        
      </thead>

      <!-- Table Body -->
      <tbody as-sortable="sortableOptions" ng-model="tableItems">
        
        <!-- ROW -->
        <tr ng-repeat="row in displayedItems"
            ng-class="{'flexy-tree-has_children':row._info.has_children, 'flexy-tree-child':row._info.is_child, 'flexy-table-selected':row._info.selected}"
            tree-level="{{row._info.level}}"
            as-sortable-item
            id="flexy-table-row_{{row.id}}">

          <!-- ROW Actions -->
          <td class="actions">
            <!-- Edit button -->
            <a ng-href="{{base_url}}#form/{{table}}/{{row.id}}" class="btn btn-xs btn-primary action-edit"><span class="glyphicon glyphicon-pencil"></span></a>
            <!-- Select button -->
            <div ng-click="select($index)" class="btn btn-xs btn-info action-select"><span class="flexy-table-unselected glyphicon glyphicon-unchecked"></span><span class="flexy-table-selected glyphicon glyphicon-check"></span></div>
            <!-- Delete button -->
            <div ng-click="delete(table,row.id)" class="btn btn-xs btn-danger action-remove"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="btn-group btn-group-xs as-sortable-handle" as-sortable-item-handle>
              <!-- Order button -->
              <div class="btn btn-warning action-move" ng-disabled="search"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            </div>
          </td>

          <!-- ROW Fields -->
          <td ng-repeat="key in orderedKeys(row)" class="flexy-table-field-type-{{fields[key].type}} flexy-table-field-{{key}}">
            <flexy-field table="{{table}}" path={{path}} data-id="{{row.id}}" field="{{key}}" value="{{row[key]}}"></flexy-field>
          </td>

        </tr>
        
      </tbody>
      
    </table>
  </div>

  <div class="panel-footer text-primary">
    <!-- Media view -->
    <div ng-if="type.is_media" class="flexy-table-media-views btn-group">
      <div ng-click="media_view('list')" class="btn btn-default" ng-class="{'btn-primary' : thumb_view === 'list'}"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
      <div ng-click="media_view('thumbs')" class="btn btn-default" ng-class="{'btn-primary' : thumb_view === 'thumbs'}"><span class="glyphicon glyphicon-th"></span></div>
    </div>
    <!-- Pagination -->
		<div class="flexy-table-pagination" st-pagination="" st-template="flexy-table/flexy-table-pagination.html" st-items-by-page="info.limit" st-displayed-pages="5"></div>
    <!--Jump to today -->
    <div ng-if="jump_to_today" ng-click="jump_to_page_with_today(table)" class="btn btn-default button-jump-to-today" ng-class="{'btn-primary' : info.today}" translate="JUMP_TO_TODAY"></div>
    <!-- Info -->
    <div class="flexy-table-stats"><span translate="ITEMS_ON_PAGE" translate-values="{rows: info.total_rows, pages: info.num_pages}"></span></div>
  </div>
  
</div>
</div>