<div class="panel panel-primary flexygrid" ng-controller="GridController" st-table="grid.displayedItems" st-safe-src="grid.items">

  <div class="panel-heading panel-title">
    <h3 class="pull-left">{{grid.table_info.ui_name}}</h3>
    <form class="form-inline has-feedback pull-right">
      <label class="control-label sr-only" for="grid-search">Search</label>
      <input id="grid-search" st-search class="form-control input-sm" type="search"/>
      <span class="glyphicon glyphicon-search form-control-feedback text-primary"></span>
    </form>
  </div>

  <div class="panel-content">
    <table class="table table-striped table-hover table-condensed table-responsive table-bordered" ng-class="{'table-sortable': grid.table_info.sortable, 'table-tree': grid.table_info.tree}">
      
      <thead>
        <tr>
          <th class="edit"><div class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></div></th>
          <th ng-if="grid.table_info.sortable" ng-repeat="field in grid.field_info | toArray" st-sort="{{field.field}}" class="{{field.type}} {{field.field}}">{{field.ui_name}}
            <span class="glyphicon glyphicon-chevron-up"></span>
            <span class="glyphicon glyphicon-chevron-down"></span>
          </th>
          <th ng-if="!grid.table_info.sortable" ng-repeat="field in grid.field_info | toArray" class="{{field.type}} {{field.field}}">{{field.ui_name}}</th>
        </tr>
      </thead>
      
      <tbody>
        <tr ng-repeat="row in grid.displayedItems">
          <td class="edit">
            <div class="btn-group btn-group-xs">
              <div class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></div>
              <div class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></div>
              <div ng-if="!grid.table_info.sortable" class="btn btn-default"><span class="glyphicon glyphicon-resize-vertical"></span></div>
            </div>
          </td>
          <td ng-repeat="key in keys(row)" class="{{grid.field_info[key].type}} {{key}}">{{row[key]}}</td>
        </tr>
      </tbody>
      
    </table>
  </div>
  
  <div class="panel-footer text-primary">
    <span st-pagination="" st-items-by-page="pagination.itemsPerPage" st-displayed-pages="pagination.displayedPages"></span>
    <span class="table-stats">{{pagination.totalItems}} items on {{pagination.totalPages}} pages</span>
  </div>
</div>
