/* ============== common styles ================ */
html,body {
	height: 100%;
}
body,td,th
{
	margin:0px;
	background-color:#FFFFFF;
	font-family:"American Typewriter",Verdana,Arial,Helvetica, sans-serif;
	font-size:.85em;
	line-height:1.3em;
	letter-spacing:.04em;
	color:#669966;
}
a {
	color:#669966;
	text-decoration:none;
}
a:hover {	text-decoration:underline; }

h1 {
	margin-left:10px;
	font-size:1em;
}
h2 {
	margin-top:0px;
	font-size:1.2em;
}
h3 {
	margin:0px;
	margin-top:10px;
	padding-top:2px;
	font-size:1em;
}

p {
	margin:0px 0px 10px;}

img {
	border:none;
	margin:0px 0px 10px 0px;
	max-width:100%;
	z-index:10;
}
.img_text {
	margin:0px;
	padding:0px;
}

/* =============== menu ===================== */

ul
{
	padding-left:0px;
	margin:5px 0px 0px;
	z-index:10;
}

li
{
	list-style:none;
	font-size:15px;
	margin:0px;
	padding:3px 5px 7px 30px;
	height:17px;
}
li.logout {
	margin-bottom:30px;
}
li.configurations {
	margin-top:30px;
}
li.current, li:hover {
	background-color:#DDEEAA;
	background-image:url("../img/inset.png");
	background-position:50% 50%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

li a {
	display:block;
	width:100%;
	height:100%;
	}
li a.cfg {
	color:#CC3333;
}
li a.rel {
	color:#3333CC;
}
li .media {
	background-image: url("../icons/folder.gif");
	background-repeat: no-repeat;
	background-position:0px 2px;
	padding-left: 20px;
	}
li.current .media {
	background-image: url("../icons/folder_files.gif");
	}


/* ============== icons ================== */

span.hide {
	display:none;
	}
.icon {
	display:block;
	clear:none;
	float:left;
	width:16px;
	height:16px;
	background-image: url("../icons/file.gif");
	background-repeat: no-repeat;
	background-position:50% 50%;
	margin:0px;
	cursor:pointer;
	}
.icon.current {
	background-color: #CCDD99;
	}

.icon.new {
	background-image: url("../icons/addfile.png");
	background-repeat: no-repeat;
	padding:3px 5px;
	}
.icon.caption {
	font-size:14px;
	background-position: 0px 2px;
	background-repeat: no-repeat;
	padding-left: 20px;
	width:auto;
	}
.icon.yes {
	background-image: url("../icons/action_check.gif");
	cursor:default;
	}
.icon.no {
	background-image: url("../icons/action_remove.gif");
	cursor:default;
}
.icon.edit {
	background-image: url("../icons/edit.gif");
	background-repeat: no-repeat;
	margin-right:10px;
	}
.icon.delete {
	background-image: url("../icons/action_delete.gif");
	background-repeat: no-repeat;
	}
div.add_button {
	float:right;
	width:20px;
	height:20px;
	margin-top:-32px;
}
.icon.add {
	background-image: url("../icons/addfile.gif");
	background-repeat: no-repeat;
	}
.multiple .icon.add {
	margin-top:-154px;
}
.icon.list {
	background-image: url("../icons/list.png");
	background-repeat: no-repeat;
	padding-right:0px;
	padding:3px 5px;
	}
.icon.listicons {
	background-image: url("../icons/list_icons.png");
	background-repeat: no-repeat;
	padding-right:0px;
	padding:3px 5px;
}

.icon.order {
	background-image: url("../icons/arrow_order.gif");
	background-repeat: no-repeat;
	margin-left:10px;
	margin-right: 0px;
	padding-right: 0px;
	cursor:move;
	}
.icon.up {
	background-image: url("../icons/arrow_top.gif");
	}
.icon.down {
	background-image: url("../icons/arrow_down.gif");
	}

.icon.remove {
	background-image: url("../icons/action_delete.gif");
	}
.icon.rename {
	background-image: url("../icons/edit.gif");
	}
.icon.sound {
	background-image: url("../icons/sound.gif");
	width:45px;
	height:45px;
	margin:20px;
	}
	.grid .icon.sound {
		background-image: url("../icons/sound_small.gif");
		width:16px;
		height:16px;
		margin:0px;
		}
.icon.flash {
	background-image: url("../icons/flash.gif");
	background-position:inherit;
	width:50px;
	height:50px;
	margin:20px;
	}
.list	.icon.flash {
		background-image: url("../icons/flash_small.gif");
		width:32px;
		height:32px;
		margin:0px;
		}
.icon.movie {
	background-image: url("../icons/movie.gif");
	background-position:inherit;
	width:45px;
	height:45px;
	margin:20px;
	}
.grid	.icon.movie {
		background-image: url("../icons/movie_small.gif");
		width:16px;
		height:16px;
		margin:0px;
		}

/* ============== table grid ================== */

table.grid {
	border-spacing:0px;
	border: solid 1px #DDEEAA;
	border-left:none;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin:0px;
	padding:0px;
	min-width:600px;
}

tr,td,th			{ background-color:transparent; }

tr.caption {
	background-color: #DDEEAA;
	background-image: url("../img/inset.png");
	background-position:50% 50%;
	margin:0px;
	padding:2px;
	height: 34px;
	width: 100%;
}
tr.caption table { width:100%; }
tr.caption td td {
	font-weight:bold;
	font-size: 16px;
	padding:3px 0px 2px;
	width: 33%;
	text-align: center;
}
tr.caption td.filter {
	text-align:right;
	padding-top:0px;
	width:33%;
	font-size:15px;
}

.grid td,
.grid th {
	text-align: left;
	vertical-align: top;
	padding:3px 5px 3px 5px;
	border: solid 1px #DDEEAA;
	border-top:none;
	border-right:none;
	overflow:hidden;
	min-width:20px;
}
tr.caption td				{ border:none; }

.grid thead td,
.grid thead th {
	padding:5px 18px 3px 5px;
	font-weight: bold;
	vertical-align:middle;
}
.grid .caption td		{ padding:0px;}

.grid td.id,
.grid td.edit				{ text-align:center; width:42px; min-width:42px; padding-right:10px; }
.grid td.edit				{ width: 30px; min-width:30px; padding-right:5px; }
.grid th.uri,
.grid td.uri				{ display:none; }
.grid th.order,
.grid td.order			{ width:10px;	padding:3px 7px 3px 0px;border-left:none; }

.grid td.str,
.grid td.txt				{ max-width:250px; overflow:hidden;}
.grid td.media,
.grid td.rgb				{ text-align: center;	width:52px;	max-width:52px; }

.grid img,
.grid embed,
.grid .rgb					{	max-width:32px;	max-height:32px;margin:0px auto 5px; }
.grid div.rgb				{	width:32px;	height:32px; }
.grid .b						{	cursor: pointer; }

.grid tbody tr.evenrow td {
	background-color:#F4FFE0;
	}
.grid tbody tr.current td {
	background-color:#FFEEEE;
	}

.grid tbody tr.grid:hover,
.grid tbody tr:hover td {
	background-color:#DDEEAA;
}

.small { margin:0px; font-size:.8em; }

img.zoom { border:1px solid #333; cursor:pointer; }

/** grid sorter **/

table.grid .header {
	background-image: url(../icons/order.gif);
	background-repeat: no-repeat;
	background-position: right;
	padding-left: 5px;
	cursor: pointer;
}
table.grid .headerSortUp {
	background-image: url(../icons/order_down.gif);
	background-repeat: no-repeat;
}
table.grid .headerSortDown {
	background-image: url(../icons/order_up.gif);
	background-repeat: no-repeat;
}
table.grid thead .id,
table.grid thead .order,
.filemanager table.grid thead .edit,
.filemanager table.grid thead .thumb
{
	background-image: none;
	cursor: default;
}

/** drag helper: for sorting **/
table.grid tr.ui-sortable-helper td {
	}


/* ============== filemanager ================== */

.icons {
	max-width:1000px;
}
.icons div.file:hover {
	border:solid 1px #DDEEAA;
	background-color: #DDEEAA;
	}

.grid tbody tr:hover td {
	background-color:transparent;
}
.icons tbody div.current {
	background-color:#FFEEEE;
	}

.icons .file {
	padding:10px 10px 0px 0px;
	margin:15px 20px 10px 20px;
	float:left;
	width:130px;
	height:144px;
	overflow:hidden;
	border:solid 1px #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}

.icons .file div {
	float:left;
	margin:2px 3px;
	padding:0px;
	}
.icons .file div.flash {
	margin:11px;
}

.icons .file .toolbar {
	margin:0px;
	visibility: hidden;
	}
.icons .file:hover .toolbar {
	visibility:visible;
	}

.icons .file .thumb {
	width:100px;
	height: 100px;
	margin:0px;
	text-align: center;
	}
	.icons .file .thumb img {
		max-height: 100px;
		max-width: 100px;
		}

.icons .file .name {
	margin-left:5px;
	clear:both;
	width:100%;
	text-align: center;
	font-size:12px;
	}


/* ============== form ================== */

#formmessage {
	color:#F00;
	font-weight: bold;
	}
fieldset.formfields {
	float:left;
	width:615px;
	border:solid 1px #DDEEAA;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin:0px;
	padding:0px;
}
fieldset.formbuttons {
	float:left;
	width:130px;
	border:none;
	margin:0px 4px 0px;
	margin-top:14px;
	padding:0px;
}
legend {
	font-size:15px;
	font-weight:bold;
	margin:0px 0px 4px 7px;
	padding:5px 10px;
	border:solid 1px #DDEEAA;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #DDEEAA;
	background-image: url("../img/inset.png");
	background-position: 50% 50%;
}

p.form_field {
	clear:both;
	margin:0px;
	padding:5px 5px 5px 5px;
}
p.form_field:hover {
	background-color: #DDEEAA;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

label {
	float:left;
	width:140px;
	padding:5px 0px 0px 4px;
}
	label.required {
		font-weight:bold;
	}
	label span.required {
		color:#FF0000;
	}

input, textarea, select {
	width:450px;
	padding:4px;
	color:#669966;
	border:solid 1px #DDEEAA;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-family:"American Typewriter",Verdana,Arial,Helvetica, sans-serif;
	font-size:1em;
	line-height:1em;
	letter-spacing:.04em;
}
input.gpw,
input.pwd {
	width:150px;
	}
input.date {
	width:110px;
	}
input.checkbox {
	border:none;
	width: auto;
	}
textarea, .mceEditor {
	line-height: 1.4em;
	display:block;
	width:450px;
	}
.mceEditor table {
	width:450px;
}
/* will be overruled by the user in text.css */
body#tinymce,
body#tinymce td,
body#tinymce th
{
	font-family:"American Typewriter",Verdana,Arial,Helvetica, sans-serif;
	font-size:12px;
	line-height:1.3em;
	letter-spacing:.04em;
}


select {
	width:460px;
	max-height:150px;
	}
select.button {
	width:440px;
	}
select.date {
	width:auto;
	padding:2px;
	}
select.multiselect {
	height:70px;
}
select.multiselect:hover {
	height: 250px;
	}
select.media {
	width:421px;
	}
select.medias {
	float:right;
	}
p.form_field .flash,
p.form_field img {
	float:left;
	width: 27px;
	height: 27px;
	margin:0px 10px 0px 0px;
	border:1px solid #DDEEAA;
	background-color: transparent;
}
input.button {
	float:right;
	width:125px;
	height:30px;
	font-size:15px;
	padding-bottom:8px;
	margin:0px 5px 15px 0px;
	background-color:#DDEEAA;
	background-image:url("../img/inset.png");
	background-position:50% 50%;
	color:#669966;
	border:none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
input.button:hover {
	background-color:#BBCC88;
	background-position:50% 0%;
	color:#336633;
	cursor: pointer;
}

.upload img {
	float:left;
	max-width:30px;
	max-height:30px;
	margin:0px;
	}
.upload input {
	clear:both;
	width:130px;
	}
.upload .browse {
	clear:both;
	width:50px;
	}


/* filemanager fields/buttons */

input.filemanager {
	width:auto;
	font-size:.8em;
	}
input.upload {
	float:none;
	position:relative;
	top:2px;
	font-size:12px;
	margin:0px 0px 0px 10px;
	padding:0px;
	height: 20px;
	}

.filemanager form {
	margin:0px;
	padding:0px;
}

/* === grid filter form === */

.filter input.filter {
	background:#F4FFE0 url("../icons/search.gif");
	background-repeat:no-repeat;
	background-position:5px 8px;
	border:solid 1px #DDEEAA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-top:6px;
	padding-bottom:3px;
	padding-left:23px;
	margin:0px;
	cursor: pointer;
	width:100%;
	max-width:200px;
	height: 20px;
	font-size:14px;
	}

/* ============== dialog ================ */

#dialog{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-180px;
	margin-left:-200px;
	width:355px;

	border:solid 3px #CCDD99;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding:60px 30px 15px 30px;
	overflow:hidden;
	background-color:#FFFFFF;
	background-image: url('../img/background.gif');
	background-repeat: no-repeat;
	background-position: 2px -30px;
	z-index:200;
}
#dialog p#question {
	color:#FF0000;
	font-weight:bold;
	font-size: 15px;
}
#dialog a.button {
	font-weight:bold;
	float:right;
	text-align:center;
	width:125px;
	height:30px;
	font-size:15px;
	padding:10px 0px 0px;
	margin:20px 25px 15px 45px;
	background-color:#DDEEAA;
	color:#669966;
	border:none;
}
#dialog input {
	width:350px;
	}
#dialog input.button {
}
#dialog a.button:hover {
	background-color:#BBCC88;
	color:#336633;
	text-decoration: none;
}
#dialog p.title {
	font-weight:bold;
	margin-bottom:0px;
}
#dialog p.data {
	font-style:italic;
	margin-top:0px;
}


/* ============== ui-dialog ================ */

div.zoom img {
	margin:0px;
	width:inherit;
	height:inherit;
}
div.zoom {
	border:none;
}
div.zoom .ui-dialog-content {
	padding:0px;
	overflow:hidden;
	text-align:center;
}
div.zoom .ui-dialog-content img {
	cursor:pointer;
}
/* ============== composition ================ */

#wrapper {
	padding:0px;
	}

#message
{
	position:absolute;
	color:#FF0000;
	font-size:15px;
	font-weight:bold;
	top:15px;
	left:430px;
	z-index:50;
}

#header {
	margin:0px;
	padding:0px;
	width:100%;
	height:95px;
	z-index:0;
	background-image: url("../img/background.gif");
	background-repeat: no-repeat;
	}
	#header a#flexyadmin {
		position:absolute;
		left:0px;
		top:0px;
		height:30px;
		width:300px;
		font-size:0px;
		background-image: url("../img/flexyadmin.gif");
	}

#menu {
	float:left;
	left:0px;
	width:225px;
	z-index:10;
	min-height:700px;
}

#content {
	top:95px;
	z-index:1;
}

#footer {
	float:left;
	margin-top:45px;
	height:45px;
	background-image:url("../img/dot_trans.gif");
	background-repeat:repeat;
	width:100%;
}
#footer div {
	margin:0px;
	margin-top:15px;
	padding:0px;
}
#footer p {
	float:left;
	border:0px;
	width:285px;
	overflow:hidden;
	margin:0px;
	margin-left:30px;
	background-color:#fff;
	text-align:center;
}
