
/* MENUS */
#header .nav, #footer .nav {float:right;}


/* FLEXY-BLOCK: text uppercase & hide spaces */
.flexy-block {text-transform:uppercase;margin-right:1px;}
.flexy-block.text-lowercase {text-transform:lowercase;}
.flexy-block.char_space {visibility:hidden;}