/* ============== IE7 specific styles ================ */

/* ============== table grid ================== */

.grid {	border-collapse:collapse; }

.thumbs .file .toolbar {visibility: visible;}
.thumbs .file:hover .toolbar,
.thumbs .file.selected .toolbar {visibility:visible;}


/* ============== popup ================ */
#popup p {
	width:392px;
	height:auto;
	text-align:left;
	margin:5px;
	padding-bottom:7px;
}

/* ============== zoomThumb ============ */
div.zoomThumb img {
	margin-bottom:4px;
	min-width:100px;min-height:80px;
}

.icon.add {margin-top:-23px;}
