/* ============== IE7 specific styles ================ */

#content {
  position:absolute;
	margin:0px;
  top:100px;
  left:225px;
	z-index:1;
}



/* ============== table grid ================== */

.grid {	border-collapse:collapse; }

.thumbs .file .toolbar {visibility: visible;}
.thumbs .file:hover .toolbar,
.thumbs .file.selected .toolbar {visibility:visible;}


/* ============== popup ================ */
#popup p {
	width:392px;
	height:auto;
	text-align:left;
	margin:5px;
	padding-bottom:7px;
}

/* ============== zoomThumb ============ */
div.zoomThumb img {
	margin-bottom:4px;
  min-width:100px;
  min-height:80px;
  max-height:100px;
}

.icon.add {margin-top:-23px;}


div.rgbColor {
	margin:-29px 0px 0px 230px;
}





.submenu li {letter-spacing:0px;}

#subitems .content ul, #subitems .content ol {margin:20px 0px 20px 20px;}
#subitems ol, #subitems ul {padding-left:45px;}
#subitems ol li {list-style:disc;}
