/* BOOTSTRAP OVERRIDES */

/* BODY: paddings for fixed header/footer */
body {padding:8rem 0;}

/* NAVBAR: uppercase */
.nav > li > a {text-transform:uppercase;}

/* Scrollable table (panel) */
.panel-content {overflow:auto;}




/* FLEXYADMIN SPECIFICS */

/* FlexyBlock: text uppercase & hide spaces */
.flexyblock {text-transform:uppercase;}
.flexyblock.char_space {visibility:hidden;}

