/* BOOTSTRAP OVERRIDES */


/* UI-Angular */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* BODY: paddings for fixed header/footer */
body {padding:62px 0;}

/* HEADER & FOOTER (navbar) kleiner */
#header, #footer {min-height:34px;max-height:48px;}
.navbar-text {margin-top:7px;margin-bottom:7px;height:34px;max-height:34px;}

/* NAVBAR: uppercase */
.nav > li > a {text-transform:uppercase;}

/* SIDEBAR MENU: smaller items & padding glyphs */
#menu li a {padding:7px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#menu li a .glyphicon {margin-right:7px;}



/* TABLE*/

/* HEADER */
.flexygrid .panel-heading {height:42px;overflow:hidden;padding:7px 5px;}
.flexygrid .panel-heading h3 {text-transform:uppercase;margin:0 1rem;}
.flexygrid .panel-heading form {margin-top:-2px;}
.flexygrid .panel-heading input {padding-left:30px;}
.flexygrid .panel-heading .glyphicon {left:0;}

/* Scrollable table (panel) */
.flexygrid .panel-content {overflow:auto;}
.flexygrid table {margin:0;}
/* th */
.flexygrid th {text-transform:uppercase;}
.flexygrid th>span.glyphicon {display:none;float:right;}
.flexygrid th.st-sort-ascent span.glyphicon-chevron-up {display:inline;}
.flexygrid th.st-sort-descent span.glyphicon-chevron-down {display:inline;}
/* td: fixed-height */
.flexygrid tbody td {white-space:nowrap;}
.flexygrid tbody td[tr-ng-grid-body-cell=0] {position:fixed;}
/*  pagination */
.flexygrid .panel-footer {padding:2px;height:39px;}
.flexygrid .pagination {margin:0;}
.flexygrid .table-stats {float:right;padding:7px 14px;}

/* TABLE COLUMNS */
.flexygrid th, .flexygrid td {max-width:200px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.flexygrid th {white-space:normal;}
.flexygrid th.edit, .flexygrid td.edit {min-width:80px;}
.flexygrid th.id, td.id {display:none;}
.flexygrid th.uri, td.uri {display:none;}
.flexygrid th.str_title, .flexygrid td.str_title {max-width:none;text-overflow:inherit;}
.flexygrid th.txt, .flexygrid td.txt {max-width:350px;}
.flexygrid th.media, .flexygrid td.media,
.flexygrid th.rgb, .flexygrid td.rgb {text-align:center;width:52px;max-width:52px; }
.flexygrid th.medias, .flexygrid td.medias {min-width:120px;max-width:600px;}
.flexygrid th.tme, .flexygrid td.tme {max-width:none; width:130px;}
.flexygrid th.rgb, .flexygrid td.rgb {min-width:25px;max-width:50px;}





/* LOADING BAR */
#loading-bar-spinner {top:50%;left:50%;margin-left:-17px;margin-top:-17px;}
#loading-bar-spinner .spinner-icon {width: 34px;height: 34px;border:solid 3px transparent;border-top-color:#CCC;border-left-color:#CCC;border-radius: 17px;}


/* FLEXYADMIN SPECIFICS */

/* FlexyBlock: text uppercase & hide spaces */
.flexyblock {text-transform:uppercase;}
.flexyblock.char_space {visibility:hidden;}

