/* Needed for UI-Angular */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* BODY: paddings for fixed header/footer */
body {padding:62px 0;}


/* NAVBAR in HEADER & FOOTER smaller-uppercase */
header, footer {min-height:34px;max-height:48px;}
.navbar-text {margin-top:7px;margin-bottom:7px;height:34px;max-height:34px;}
.nav > li > a {text-transform:uppercase;}
.flexy-menu.navbar {min-height:0px;}

/* SIDEBAR MENU: smaller items & padding glyphs */
.menu-side li a {padding:7px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.menu-side li a .glyphicon {margin-right:7px;}


/* LOADING BAR */
#loading-bar-spinner {top:50%;left:50%;margin-left:-17px;margin-top:-17px;}
#loading-bar-spinner .spinner-icon {width: 34px;height: 34px;border:solid 3px transparent;border-top-color:#CCC;border-left-color:#CCC;border-radius: 17px;}


/* PANELS */
.panel-heading {height:42px;overflow:hidden;padding:7px 5px;}
.panel-heading h3 {text-transform:uppercase;margin:0 1rem;}
.panel-content, .panel-footer {padding:2rem;}

/* FORMS */
label,button {text-transform:uppercase;}
.form-inline .form-group {width:100%;}

/* GENERAL */
.hidden {display:none;}
.action-click {cursor:pointer;}
.action-move {cursor:move;}


/* FLEXY LOGIN */
#login {width:600px;margin:2rem auto;}
#login .panel-content {padding-bottom:0;}
#login .flexy-login-forgot {padding-top:1rem;}
#login .panel-footer .form-group {width:100%;}


/* FLEXY-HOME */
.flexy-home .btn {text-align:left;}
.flexy-home .btn a {margin:0 2rem;text-transform:uppercase;}
.flexy-home .btn-group-vertical {margin:1rem 4rem 1.5rem 0;}
