// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.


// Colors
//$gray-700:                 #373a3c;
//$gray:                      #55595c;
//$gray-600:                #818a91;
$gray-600:              #99CA3C;
$gray-200:             #FFE200;

$primary:             #A72179;
$success:             #0F0;
$info:                #DEA;
$warning:             #ff0;
$danger:              #F00;
//$inverse:             $gray-700;

// Fonts
$font-family-sans-serif: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;
$font-size-base: 14px;

$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;



// Buttons
$btn-padding-x:                  .75rem;


