* {outline:none !important;}
a>.fa, .btn>.fa {margin-right:.35rem;margin-left:.35rem;}

/* BTN */
.btn-default {background-color:$body-bg;color:$primary;}
.btn-default:hover {background-color:$info;color:$body-bg;}
.btn-secondary {background-color:$body-bg;color:$gray-900;border-color:$gray-400;}
.btn-secondary:hover {background-color:$gray-300;color:$gray-900;border-color:$gray-400;}
.btn-warning {color:$body-bg}

.flexy-button.btn-outline-primary:hover,
.flexy-button.btn-outline-info:hover,
.flexy-button.btn-outline-default:hover,
.flexy-button.btn-outline-warning:hover,
.flexy-button.btn-outline-danger:hover {color:$body-bg;}


/* NAV */
.nav-pills {
  .nav-link {
    >.fa {margin-left:0;margin-right:0;}
    padding:.45rem 1rem;
    font-size:1.15rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
  }
  .nav-link.active {
    background-color: $primary;
    color: $body-bg!important;
  }
  .nav-link:not(.active):hover,
  .nav-link:not(.active):focus {
    background-color: $gray-200;
    color: $primary!important;
  }

  .hide-when-active {display:inline}
  .show-when-active {display:none}
  .active {
    .hide-when-active {display:none}
    .show-when-active {display:inline}
  }
  .help-button {
    .active {margin-right:-1.5rem;}
    a.active {border-top-right-radius:0;border-bottom-right-radius:0;}
  }
}
.nav-item.seperator {
  border-top:solid 1px $gray-300;
}

/* PAGINATION */
.pagination-container {
  .pagination {
    margin:0;
    .page-link {
      padding:0rem .5rem;
      cursor:pointer;
    }
    .page-item:not(.active) {
      color:$primary;
    }
  }
  .pagination-info {
    float:right;
  }
}


/* CARD */
.card {
  margin:0;
  border:solid 1px $primary;
  >.card-header {
    background-color:$primary;
    color:$body-bg;
    padding:.5rem;
    >* {margin:0 1rem 0 0;float:left;}
    >*:last-child {margin:0;float:right;}
    >*:first-child {margin:0;float:left;}
    .flexy-button.btn-outline-primary:not(:hover),
    .flexy-button.btn-outline-info:not(:hover),
    .flexy-button.btn-outline-default:not(:hover),
    .flexy-button.btn-outline-warning:not(:hover),
    .flexy-button.btn-outline-danger:not(:hover) {background-color:$body-bg;}
  }
  
  .card {
    >.card-header {
      padding:.25rem .5rem;
      h1 {
        font-weight:normal;
        font-size:$h2-font-size;
        padding-top:.125rem;
      }
    }
    >.card-body {
//      overflow:hidden;
      padding:.25rem .5rem;
      .form-group {margin-bottom:.5rem;}
    }
  }
}
.editor-popup .card {
  border:none;
}

// TOOLS
.flexy-tool {
  textarea {
    height: 8rem;
  }
  td,
  th {
    white-space: nowrap;
    overflow: auto;
    padding:4px;
  }
  .tool-result {
    padding:0px;
    overflow: auto;
  }
  .messages {
    margin-top:2rem;
  }
}

// VUE
[v-cloak] {
  display: none;
}


/* Responsive */

@media(max-height:800px) {
  #flexyadmin-modal {
    .modal-body {
      max-height:400px!important;
    }
  }
}

@media (max-height:600px) {
  #flexyadmin-modal {
    .modal-body {
      max-height:300px!important;
    }
  }
}

@media (max-height:400px) {
  #flexyadmin-modal {
    .modal-body {
      max-height:200px!important;
    }
  }
}


// Layout
@include media-breakpoint-down(md) {
  #header .help-button {display:none;}
  #help {display:none;}
}
@include media-breakpoint-down(sm) {
  #header {
    .title {display:none;}
    .navbar-nav li {
      .fa {margin:0;}
      .nav-title {display:none;}
    }
  }
  #content {
    padding:0!important;
  }
}
@include media-breakpoint-down(xs) {
  #header {
    .flexy-block {
      margin-right:.25rem!important;
      // font-size:.85rem;
    }
    .nav-link {
      padding:.5rem;
    }
  }
}