* {outline:none !important;}
a>.fa, .btn>.fa {margin-right:.35rem;margin-left:.35rem;}

/* BTN */
.btn-default {background-color:$body-bg;color:$brand-primary;}
.btn-default:hover {background-color:$brand-info;color:$body-bg;}

/* NAV */
.nav-pills {
  .nav-link {
    padding:.45rem .5rem;
    font-size:1.15rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
  }
  .nav-link.active {
    background-color: $brand-primary;
    color: $body-bg!important;
  }
  .nav-link:not(.active):hover,
  .nav-link:not(.active):focus {
    background-color: $gray-lighter;
    color: $brand-primary!important;
  }
}
.nav-item.seperator {
  border-top:solid 2px $gray-lighter;
}

/* PAGINATION */
.pagination-container {
  .pagination {
    margin:0;
    .page-link {
      padding:0rem .5rem;
      cursor:pointer;
    }
    .page-item:not(.active) {
      color:$brand-primary;
    }
  }
  .pagination-info {
    float:right;
  }
}


/* CARD */
.card {
  margin:0;
  border:solid 1px $brand-primary;
  >.card-header {
    background-color:$brand-primary;
    color:$body-bg;
    padding:.5rem;
    >* {margin:0 1rem 0 0;float:left;}
    >*:last-child {margin:0;float:right;}
    >*:first-child {margin:0;float:left;}
    .flexy-button.btn-outline-primary:not(:hover),
    .flexy-button.btn-outline-info:not(:hover),
    .flexy-button.btn-outline-default:not(:hover),
    .flexy-button.btn-outline-warning:not(:hover),
    .flexy-button.btn-outline-danger:not(:hover) {background-color:$body-bg;}
  }
}


/* Responsive */

// header nav icons only
@include media-breakpoint-down(sm) {
  #header .navbar-nav li {
    .fa {margin:0;}
   .nav-title {display:none;}
  }
}
