a {outline: none !important;}
a>.fa, .btn>.fa {margin-right:.35rem;margin-left:.35rem;}
h1 {text-transform:uppercase;}

/* BTN */
.btn-default {background-color:$body-bg;color:$brand-primary;}
.btn-default:hover {background-color:$brand-info;color:$body-bg;}

/* NAV */
.nav-pills {
  .nav-link {
    padding:.45rem .5rem;
    font-size:1.15rem;
//    text-transform: uppercase;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
  }
  .nav-link.active {background-color: $brand-primary; color: $body-bg!important;}
  .nav-link:not(.active):hover, .nav-link:not(.active):focus {background-color: $gray-lighter; color: $brand-primary!important;}
}

/* TABS */
.nav-tabs {
   >li>a.nav-link {text-transform:uppercase;}
}

/* CARD */
.card {
  >.card-header {
    >* {margin:0 1rem 0 0;float:left;}
    >*:last-child {margin:0;float:right;}
    .btn {text-transform:uppercase};
  }
}
