// Label styling
.form-control-label {
  text-transform:uppercase;
  font-weight:bold;
  padding-top:.5rem;
  padding-bottom:0;
  margin-bottom:0;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

// Input Border color
.form-group.row:not(.has-danger):hover {
  input, select, textarea, .mce-tinymce, .form-control:focus {
    border-color:$brand-primary;
  };
}
.form-control:focus {
  border-color:$brand-primary;
}



// Background row
.card.form {
  .form-group.row:hover {
    border-radius:$border-radius;
    background-color:lighten($brand-warning,50%);
  }
}

// Sizes
.form {
  .form-group {min-height:2.35rem;}
}

select.form-control:not([size]):not([multiple]) {
  height:auto;
}

.form-check-input {
  margin-left:0;
  margin-top:.75rem;
}

.validation-error {
  padding:.25rem 1rem;
  font-weight:bold;
}

// FIELDS

textarea {
  min-height:5rem;
  max-height:30rem;
}

.custom-select {
  height: calc(2.5rem - 1px);
}

// tinyMCE overrides
.mce-tinymce {
  border-radius:$border-radius;
}
body.mce-fullscreen .mce-tinymce{
  z-index:9999999;
//  margin-top:$font-size-root*4!important;
}

// DatePicker overrides
.form-control.datepicker-input {
  width:7rem;
}
.datepicker-popup {
  border-color:$brand-primary!important;
  background: $body-bg!important;
  box-shadow: 0 .5rem 1rem $gray!important;
  top:-2px;
  left:8rem;
}
.decadeRange span:first-child,
.decadeRange span:last-child,
.datepicker-item-disable,
.datepicker-item-gray {
  color:$gray-light!important;
}
.datepicker-dateRange-item-active:hover,
.datepicker-dateRange-item-active {
  background-color: $brand-primary!important;
}
.datepicker-prevBtn:hover,
.datepicker-nextBtn:hover,
.datepicker-monthRange span:hover,
.datepicker-ctrl p:hover,
.datepicker-ctrl i:hover,
.datepicker-dateRange span:hover,
.datepicker-dateRange-item-hover {
  background: $brand-warning!important;
}
