// Fieldsets
.tabs.single-tab {
  >ul.nav-tabs {display:none;}
}

// Label styling
.form-control-label {
  font-weight:bold;
  padding-top:.25rem;
  padding-bottom:0;
  margin-bottom:0;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  .required {
    position:absolute;
    right:0px;
    top:.5rem;
  }
}
.form-control {
  padding-bottom:.25rem;
}

.form-group.row {
  .col-md-1 {
    padding-top:.25rem;
    * {float:right;}
  }
}

// Input Border color
.form-group.row {
  input, select, textarea, .mce-tinymce, .form-control, .mediapicker {
    border-color:$gray-light!important;
  };
}

.form-group.row:not(.has-danger):hover {
  label {color:$brand-primary;}
  input, select, textarea, .mce-tinymce, .form-control:focus, .mediapicker {
    border-color:$brand-primary!important;
  };
}

// Background row
.card.form {
  .form-group.row:hover {
    border-radius:$border-radius;
    background-color:lighten($brand-warning,50%);
  }
}

// Sizes
select:-moz-focusring {
  color: transparent!important;
  text-shadow: 0 0 0 #000!important;
}

select.form-control:not([size]):not([multiple]) {
//  height:auto;
}
.custom-select {
  height: 2.1rem!important;
  padding-top:0.5rem;
}
.form-control-sm {
  padding-top:.25rem;
  height: 1.55rem!important;
}

.form-check-input {
  margin-left:0;
}

.form-check-label {
  padding-left:0;
}

.form-subcheck {
  margin-left:0!important;
  margin-right:1%;
  margin-bottom:.25rem;
  padding:0 .5rem .25rem;
  border:solid 1px $brand-primary;
  border-radius:$border-radius;
  background-color:lighten($brand-warning,50%);
  width:19%;
  white-space:nowrap;
  overflow:hidden;
  .form-check-label {
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
  }
}


// Validation
.form-group.has-danger {
  background-color:lighten($brand-danger,50%)!important;
  border-radius:$border-radius!important;
}

.validation-error {
  display:inline-block;
  width:100%;
  background-color:lighten($brand-danger,50%);
  color:$brand-danger;
  font-weight:bold;
  padding:.25rem 1rem;
  border-radius:$border-radius;
}

// FIELDS

textarea {
  min-height:5rem;
  max-height:30rem;
}

// tinyMCE overrides & extras
.mce-tinymce {
  border-radius:$border-radius;
}
body.mce-fullscreen .mce-tinymce{
//  z-index:9999999;
//  margin-top:$font-size-root*4!important;
}
.mce-indent-list-item-1 { padding-left:1.5rem!important; }
.mce-indent-list-item-2 { padding-left:2.5rem!important; }
.mce-indent-list-item-3 { padding-left:3.5rem!important; }
.mce-i-jdb {
  height:30px!important;
  width:30px!important;
}




// DatePicker overrides
.datepicker {
  height:1.8rem;
}
.form-control.datepicker-input {
  width:7rem;
  margin-bottom:0;
}
.datepicker-popup {
  border-color:$brand-primary!important;
  background: $body-bg!important;
  box-shadow: 0 .5rem 1rem $gray!important;
  top:-2px;
  left:8rem;
}
.decadeRange span:first-child,
.decadeRange span:last-child,
.datepicker-item-disable,
.datepicker-item-gray {
  color:$gray-light!important;
}
.datepicker-dateRange-item-active:hover,
.datepicker-dateRange-item-active {
  background-color: $brand-primary!important;
}
.datepicker-prevBtn:hover,
.datepicker-nextBtn:hover,
.datepicker-monthRange span:hover,
.datepicker-ctrl p:hover,
.datepicker-ctrl i:hover,
.datepicker-dateRange span:hover,
.datepicker-dateRange-item-hover {
  background: $brand-warning!important;
}

.mediapicker {
  border:solid 1px transparent;
  border-radius:$border-radius;
  .mediapicker-selection {
    min-height:5rem;
    margin:.25rem;
    >.flexy-button {
      float:left;
      margin-right:.5rem;
      margin-top:3.25rem;
    }
    .mediapicker-thumb {
      display:inline;
      margin-right:.25rem;
      cursor:move;
      >.flexy-button {position:absolute;}
    }
    .mediapicker-thumb-button {
      display:block;
      float:left;
      width:3.5rem;
      height:5rem;
      border:dashed 2px $brand-warning;
      cursor:default;
      >.flexy-button {top:2rem;left:2rem;}
    }
  }
  .mediapicker-choose {
    margin:.5rem 0 0;
    >.card {
      border:none;
      border-radius:0;
      >.card-header {
        border-radius:0;
      }
    }
  }
  

}



// VSELECT
.vselect {
  position:relative!important;
  margin-left:0;
  
  button.dropdown-toggle {
    min-height:2rem;
    padding:.25rem .5rem 0 .5rem;
    text-align:left;
  }
  
  ul.dropdown-menu {
    border-color:$gray-light!important;
    padding:0;
    width:100%;
    li {padding:.2rem .5rem;}
    li:hover {background-color:$brand-warning};
    li.search-item { input:focus; }
    li.insert-item {border-top:solid 1px $gray-light;}
    li.insert-item:hover,li.search-item:hover {background-color:transparent;}
  }
  
}
.vselect.multiple {
  .selected-option {
    display:block;
    float:left;
    padding:.15rem .35rem;
    margin:0 .25rem .25rem 0;
    border:solid 1px $gray-lighter;
    border-radius:$border-radius;
  }
  .selected-option:hover {
    border-color:$brand-primary;
    background-color:lighten($brand-warning,40%);
  }
}




