/* LOGIN */
#login-form {
  position:absolute;
  left:50%;
  top:20%;
  width:25rem;
  max-width:96%;
  box-shadow:0 0 1.25rem $gray-700;
  transform: translate(-50%,0%);
  h1 {text-transform:none;}
  
  #forgotten-password-link {
    border-top:solid 1px $gray-600;
    color:$gray-600;
    cursor:pointer;
    display:block;
    margin-top:1rem;
    padding-top:.5rem;
  }
  #forgotten-password-link:hover {
    color:$danger;
  }
}

.progress {
  position:absolute;
  left:0px;
  top:-2px;
  height:6px;
  margin:0;
  border-radius:0;
  width:100%;
  z-index:99999999;
}
.progress[value] {color:$danger} /* IE10 */
.progress::-webkit-progress-bar-value {background:$danger}
.progress::-webkit-progress-value {background:$danger}
.progress::-moz-progress-bar {background:$danger}

#main {
  min-width:20rem;
}

/* HEADER */
#header {
  padding:0 .5rem 0 0;
  height: 47px;
  max-height: 47px;
  background-color:transparent;
  overflow:hidden;
  .nav {padding-top:.25rem;}
  .navbar-brand {
    .home-button,.menu-button {
      margin-right:.75rem;
      padding-left:4px;
      padding-right:3px;
    }
  }
}

/* MESSAGES */
#messages {
  position:fixed;
  left:0px;
  top:0px;
  max-height:100%;
  width:100%;
  padding:0;
  margin:0;
  overflow:auto;
  opacity:.9;
  z-index:99999999;
  .alert {margin-bottom:.25rem;padding:.5rem;}
  .message-text {width:90%;}
  .message-button {float:right;}
}

/* MODAL */
#flexyadmin-modal {
  .modal-dialog {
    margin-top: 120px;
  }
  .modal-body {
    max-height:600px;
    overflow:auto;
  }
}



/* CONTENT */
#row {
  margin:0.75rem 0px 0px;
}
#flexy-menu-side {padding-left:0;}
#content {
  padding:0 .5rem .5rem;
  >.card {margin-top:1rem}
  >.card:first-child {margin:0}
}

#content-home {
  .nav-item {
    display:inline-block;
    width:auto;
    margin-right:2rem;
    margin-bottom:1rem;
    .flexy-button {
      float:left;
      margin-right:.5rem;
    }
    .nav-title {
      display:inline-block;
      margin:0;
    }
  }
}


/* SIDEBAR MENU */
#flexy-menu-side>ul {
  background-color: transparent;
  border:solid 1px $gray-300;
  margin-bottom:1rem;
  border-radius:.25rem;
  li {
    width:100%;
    overflow:hidden;
  }
}


.flexy-accordion {
  .card {
    border:none;
    border-bottom:solid 1px $primary;
    border-radius:0!important;
    .card-header {
      background-color:$body-bg;
      color:$primary;
      border-radius:0!important;
      cursor:pointer;
      padding:9px .5rem 10px;
      .fa {width:2rem;}
    }
    .card-header:hover {
      background-color:$gray-600;
    }
    .card-body {
      border-radius:0!important;
      h1 {
        color:$primary;
        margin-left:-.5rem;
      }
      li {
        margin-left:-1rem;
        padding-left:0;
      }
    }
  }
  .card.active {
    .card-header {
      background-color:$primary;
      color:$body-bg;
    }
  }
  img {max-width:100%;}
}

#main.help {
  width:70%;
}
#help {
  position:absolute;
  top:0;
  right:0;
  padding-top:2px;
  width:30%;
  height:100%;
  background-color:$body-bg;
  border-left:solid 1px $primary;
  overflow-y: scroll;
}



/* MASK */
#mask {
  position:fixed;
  top:0;left:0;
  width:100%;
  height:100%;
  background-color:transparent;
  z-index:999999;
  .spinner {
    position:absolute;
    left:50%;
    top:50%;
    font-size:5rem;
    color:$gray-600;
    text-shadow:0px 0px .5rem $body-bg;
  }
}

/* TRANSITIONS */
.slideUp-enter-active {transition: all .2s ease;}
.slideUp-leave-active {transition: all 1s ease;}
.slideUp-enter, .slideUp-leave-active {margin-top: -$font-size-base*4;opacity: 0;}


/* DEBUG HELPERS */
.debug-info .card-body {
  padding:0;
  max-height:30rem;
  background-color:#666;
  overflow:auto;
}
._trace {
  background-color:#FFF;
  display:block;
  font-family:monospace;
  padding:.5rem;
  margin:.5rem;
}
.card-body {
  ._trace {
    font-size: .8rem;
    border-radius: $border-radius;
    border: solid 1px $primary;
    background-color:$gray-200;
    margin:.5rem 0;
  }
}