/* LOGIN */
#login-form {
  position:absolute;
  left:50%;
  top:30%;
  width:25rem;
  box-shadow:0 0 1.25rem $gray-dark;
  transform: translate(-50%,-50%);
  h1 {text-transform:none;}
  
  #forgotten-password-link {
    border-top:solid 1px $gray-light;
    color:$gray-light;
    cursor:pointer;
    display:block;
    margin-top:1rem;
    padding-top:.5rem;
  }
  #forgotten-password-link:hover {
    color:$brand-danger;
  }
}

.progress {
  position:absolute;
  left:0px;
  top:-2px;
  height:6px;
  margin:0;
  border-radius:0;
  width:100%;
  z-index:99999999;
}
.progress[value] {color:$brand-danger} /* IE10 */
.progress::-webkit-progress-bar-value {background:$brand-danger}
.progress::-webkit-progress-value {background:$brand-danger}
.progress::-moz-progress-bar {background:$brand-danger}

/* HEADER */
#header {
  padding:0 .5rem 0 0;
  background-color:$gray-lightest;
  border-bottom:solid 1px $gray-lighter;
  .nav {padding-top:.1rem;}
}

/* MESSAGES */
#messages {
  position:fixed;
  left:0px;
  top:0px;
  max-height:100%;
  width:100%;
  padding:0;
  margin:0;
  overflow:auto;
  opacity:.9;
  z-index:99999999;
  .alert {margin-bottom:.25rem;padding:.5rem;}
  .message-text {width:90%;}
  .message-button {float:right;}
}


/* CONTENT */
#row {
  margin:0.75rem 0px 0px;
}
#flexy-menu-side {padding-left:0;}
#content {
  padding:0 .5rem .5rem;
  >.card {margin-top:1rem}
  >.card:first-child {margin:0}
}

#content-home {
  .nav-item {
    display:inline-block;
//    height:3rem;
    width:auto;
    margin-right:2rem;
    .flexy-button {
      float:left;
      margin-right:.5rem;
    }
    .nav-title {
      display:inline-block;
      margin:0;
//      padding-top:.5rem;
    }
  }
}


/* SIDEBAR MENU */
#flexy-menu-side>ul {
  background-color: $gray-lightest;
  border:solid 1px $gray-lighter;
  margin-bottom:1rem;
  border-radius:.25rem;
}

/* HELP */
.flexy-help {
  .nav-link {cursor:pointer;}
  h2 {color:$brand-primary;}
  h3 {
    margin-top:2rem;
    color:$brand-primary;
  }
  h3::before {
    content:'- ';
  }
}
//.flexy-help {
//  display:none;
//  position:fixed;
//  top:0;
//  right:0;
//  width:25%;
//  height:100%;
//  box-shadow:0 0 .5rem $gray-dark;
//  z-index:9999;
//  >.card {height:100%;}
//}



/* MASK */
#mask {
  position:fixed;
  top:0;left:0;
  width:100%;
  height:100%;
  background-color:transparent;
  z-index:999999;
  .spinner {
    position:absolute;
    left:50%;
    top:50%;
    font-size:5rem;
    color:$gray-light;
    text-shadow:0px 0px .5rem $body-bg;
  }
}

/* TRANSITIONS */
.slideUp-enter-active {transition: all .2s ease;}
.slideUp-leave-active {transition: all 1s ease;}
.slideUp-enter, .slideUp-leave-active {margin-top: -$font-size-root*4;opacity: 0;}


/* DEBUG HELPERS */
.debug-info .card-block {
  padding:0;
  max-height:30rem;
  background-color:#666;
  overflow:auto;
}
._trace {
  background-color:#FFF;
  display:block;
  font-family:monospace;
  padding:.5rem;
  margin:.5rem;
}