// plugin_stats

.flexy-plugin.plugin_stats {
  .card-body {
    padding:0px;
    p {margin:.5rem 1rem;}
    .card {
      border-radius:0;
      border:none;
      .card-header {
        border-radius:0;
        font-size:$h2-font-size;
      }
      table {
        border:none;
        td.bar {border:none;}
        td.graph {text-align:center;}
        .vertical-text {
          display:block;
          text-align:center;
//            transform: rotate(90deg);
        }
      }
    }
  }
}